$mainFont : 'Montserrat', Helvetica, Arial, sans-serif;
$white : #fff;
//size
$mainFontColor : #101010;
$mainfontSize:1.1rem;
$mainFontWeight:400;
$mainFontWeightBold:700;
$mainLineHeight: 1.4rem;


//media query
$smPhoneWidth:320px;
$phoneWidth : 480px;
$smTableWidth:640px;
$tableWidth : 768px;
$smDesktopWidth:1024px;
$desktopWidth: 1280px;
$lgDesktopWidth:1400px;